@import './functions.scss';

$base: 4px;

$font-family-gilroy: "Gilroy",
sans-serif;
$font-size-xs: px(18px);
$font-size-sm: px(20px);
$font-size-md: px(24px);
$font-size-lg: px(36px);

$line-height-sm: px(36px);
$line-height-lg: px(64px);

$color-white: #fff;
$color-purple-extra-light: #6f729c;
$color-purple-light: #755dd5;
$color-purple-dark: #1f1937;